<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="name" [(ngModel)]="editBook.name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="year" [(ngModel)]="editBook.year">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea  matInput placeholder="description" [(ngModel)]="editBook.description"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="price" [(ngModel)]="editBook.price">
  </mat-form-field>
</div>

<button mat-flat-button color="primary" (click)="save()">Save</button>
