<mat-form-field>
  <input matInput placeholder="Login" [(ngModel)]="name">
</mat-form-field>
<br>
<mat-form-field>
  <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
<br>
<button mat-flat-button color="primary" (click)="login()">Login</button>
